:root{
--clr-white:#ffffff;
--clr-gray: #d3d3d3;
--clr-shadow20: rgba(0, 0, 0, 0.1);
--clr-black: #121212;


}

body{
    background-color: var(--clr-gray);
    font-family: sans-serif;
    color:var(--clr-black);
    
}


h2{
    text-align: center;
    font-size: 2rem;
    margin:0;
    padding: 30px 0 20px 0;
    line-height: 1.3;
   
    }


.container{
    box-sizing: content-box;
    margin: auto;
    background-color: var(--clr-white);
    width: 50vh;
    height:auto;
    border-radius: 20px;
    text-align: center;
    padding: 50px;
    box-shadow: 0px 0px 10px 0px var(--clr-shadow20);
    
}
h3{
    margin:0;
    padding-bottom: 25px;
    font-size: 1.3rem;
}

.excusa{
    margin:0;
    font-style: italic;
    font-size: 1.3rem;


}

.btn{
    border-radius: 100px;
    border: 0px;
    background-color: blue;
    width: auto;
    height: 7vh;
    padding:10px 20px 10px 20px;
    margin:25px 0 0 0;
    color: white;
    font-size: 1.1rem;
    
}

.btn:hover{

    background-color:rgb(58, 58, 252); 
}

